<h1>Login</h1>

<!-- For a User model type :user; this will cause the properties of the form to be assigned to an instance of a User. The sessions_path URI will cause a POST to the sessions#create URI to be invoked when a submit is called. -->
<%= form_for(:user, url: sessions_path) do |f| %>

<div class="field">
<!-- The :username text_field will assign the user input to the user[username] property. -->
		<%= f.label :username %> <br/>
		<%= f.text_field :username %>
	</div>
	<p/>
	<div class="field">
<!-- The :password password_field will obfuscate the user's password while being typed and assign the user input to the user[password] property. -->
		<%= f.label :password %> <br/>
		<%= f.password_field :password %>
	</div>
	<p/>
<!-- The submit action will submit the form to the server when pressed. -->
	<div class="actions">
		<%= f.submit "Login" %>
	</div>
<% end %>
